[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.2.13"
pinax-templates = "==1.0.4"
django-user-accounts = "*"
pinax-announcements = "*"
pinax-blog = "*"
pinax-calendars = "*"
pinax-cohorts = "*"
pinax-documents = "*"
pinax-invitations = "*"
pinax-messages = "*"
pinax-notifications = "*"
pinax-stripe = "*"
pinax-testimonials = "*"
pinax-waitinglist = "*"
pygments = "*"
gunicorn = "*"
whitenoise = "*"


[dev-packages]

