Django==2.0.1

pinax-templates

django-user-accounts
pinax-announcements
pinax-blog
pinax-calendars
pinax-cohorts
pinax-documents
pinax-invitations
pinax-messages
pinax-notifications
pinax-stripe
pinax-testimonials
pinax-waitinglist
pinax-webanalytics

Pygments

gunicorn
whitenoise
