Django==1.11.6
pinax-templates==0.1

django-user-accounts
pinax-blog
pinax-announcements
pinax-cohorts
pinax-stripe
pinax-messages
pinax-invitations
pinax-documents
pinax-notifications

Pygments

gunicorn
whitenoise
