body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin-top: 20px;
  flex: 1;
  .jumbotron {
    margin-top: -20px;
  }
}
#content_body {
  @include make-container();
  @include make-container-max-widths();
}
footer {
  padding: 20px 0;
  background-color: $footer-bg-color;
  > div {
    @include make-container();
    @include make-container-max-widths();
  }
}
