/* Styles just for the this template hosting project */
.jumbotron {
    .container {
        h1 {
            font-weight: 700;
            font-size: 4em;
            color: #CEEA80;
        }
        h2 {
            font-size: 2.5em;
            font-weight: 200;
            color: #A1BE56;
        }
    }
    border-radius: 0;
    background: linear-gradient(#05506F, #031E3B);
}

body.theme-tester {
    background-color: $white;
    > header {
        nav {
            background-color: #05506F !important;  // linear-gradient(#031E3B, #05506F 90%);
            color: white;
            .navbar-nav {
                .nav-link {
                    color: white;
                }
                .nav-link:hover {
                    color: $gray-200;
                }
                .show {
                    .nav-link {
                        color: $gray-400;
                    }
                }
                .dropdown-menu-right {
                    min-width: 29rem;
                }
            }
        }
    }

    .fragment-container {
        background: white;
        border: 2px solid $gray-200;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        h1 {
            color: $gray-700;
            border-bottom: 2px solid $gray-200;
            margin-bottom: -20px;
        }
        h2 {
            font-size: 1.3em;
            .variation {
                font-weight: 200;
                color: $gray-400;
                float: right;
            }
            code {
                color: $gray-300;
                background: none;
            }
            padding: 12px;
            border-radius: 3px;
            background: $gray-700;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}

footer {
    background: #031E3B;
    color: white;
    > div {
        display: flex;
        justify-content: space-between;
        a {
            color: #AAA;
            &:hover,
            &:link,
            &:active {
                color: #CCC;
            }
        }
    }
}
