/* Styles just for the this template hosting project */
.jumbotron {
    .container {
        h1 {
            font-weight: 700;
            font-size: 4em;
            color: #CEEA80;
        }
        h2 {
            font-size: 2.5em;
            font-weight: 200;
            color: #A1BE56;
        }
    }
    border-radius: 0;
    background: linear-gradient(#05506F, #031E3B);
}

body.theme-tester {
    background-color: $white;
    > header {
        nav {
            background-color: #05506F !important;  // linear-gradient(#031E3B, #05506F 90%);
            color: white;
            .navbar-nav {
                .nav-link {
                    color: white;
                }
                .nav-link:hover {
                    color: $gray-200;
                }
                .show {
                    .nav-link {
                        color: $gray-400;
                    }
                }
                .dropdown-menu-right {
                    min-width: 29rem;
                }
            }
        }
    }

    .fragment-container {
        background: white;
        border: 2px solid $gray-200;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        h1 {
            color: $gray-700;
            border-bottom: 2px solid $gray-200;
            margin-bottom: -20px;
        }
        h2 {
            font-size: 1.3em;
            .variation {
                font-weight: 200;
                color: $gray-400;
                float: right;
            }
            code {
                color: $gray-300;
                background: none;
            }
            padding: 12px;
            border-radius: 3px;
            background: $gray-700;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}

footer {
    background: #031E3B;
    color: white;
    > div {
        display: flex;
        justify-content: space-between;
        a {
            color: #AAA;
            &:hover,
            &:link,
            &:active {
                color: #CCC;
            }
        }
    }
}

header nav div.topbar-container > a,
header nav div.topbar-container > a:hover {
    color: white;
}
.nav-btn,
.nav-btn:hover,
.nav-btn:active,
.nav-btn:link,
.nav-btn:focus {
    color: $gray-100;
    i {
        text-align: center;
        width: 1.3rem;
        @include icon(bars);
    }
    .text {
        display: none;
    }

}
aside {
    position: absolute;
    top: 0;
    height: calc(100vh - 64px);
    background: darken($gray-800, 10%);
    transition: width 300ms;
    width: 4.3rem;
    opacity: 1;
    overflow: hidden;
    padding-top: 10px;
    z-index: 999;
    img.patch {
        width: 2rem;
        margin: 0.5rem 1rem;
    }
    .nav-header {
        text-align: center;
    }
    .nav-text {
        padding: 0.5rem 1rem;
        display: none;
    }
    .nav-item {
        background: $gray-800;
    }
    .nav-item:hover,
    .nav-item.selected {
        background: #05506F;
        .nav-link {
            color: $gray-300;
            .template {
                color: $gray-400;
            }
        }
    }
    .nav-header {
        color: $gray-500;
    }
    .nav-link {
        color: $gray-500;
        display: none;
        .template {
            color: $gray-600;
            display: block;
            font-size: 0.7rem;
            font-family: "Menlo", "Courier New";
        }
    }
}

body.show-menu {
    .nav-btn {
        i {
            @include icon(minus);
        }
        .text {
            margin-left: 10px;
            display: inline-block;
        }
    }
    aside {
        opacity: 1;
        width: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        .nav-link {
            display: block;
        }
        .nav-text {
            display: inline-block;
            padding-left: 0;
            color: $gray-400;
            vertical-align: -0.1rem;
            &:hover {
                text-decoration: none;
            }
        }
        img.patch {
            margin-left: 1.23rem;
            margin-right: 0.5rem;
        }
        .nav-header {
            text-align: left;
        }
    }
}
