{% extends "site_base.html" %}

{% block messages %}{% endblock %}

{% block body %}
<section class="fragment-container">
    <h1>Pinax Theme Bootstrap Fragments</h1>

    <h2>
        <div class="variation">With Closed Signup</div>
        <code>_account_bar.html</code>
    </h2>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="topbar-container">
                <div class="nav-container">
                    <div class="mr-auto"></div>
                    {% include "_account_bar.html" %}
                </div>
            </div>
        </nav>
    </header>

    <h2>
        <div class="variation">With Open Signup</div>
        <code>_account_bar.html</code>
    </h2>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="topbar-container">
                <div class="nav-container">
                    <div class="mr-auto"></div>
                    {% include "_account_bar.html" with ACCOUNT_OPEN_SIGNUP=True %}
                </div>
            </div>
        </nav>
    </header>

    <h2>
        <code>pagination/_pagination.html</code>
    </h2>
    <div class="pagination-container">
        {% include "pagination/_pagination.html" %}
    </div>


    <h2>
        <code>_messages.html</code>
    </h2>
    <div class="messages-container">
        {% include "_messages.html" %}
    </div>
</section>
{% endblock %}
