{% extends "site_base.html" %}

{% block messages %}{% endblock %}

{% block body %}
<section class="fragment-container">
    <h1>Pinax Invitations Fragments</h1>

    <h2><div class="variation">Can Send</div><code>_invite_form.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invite_form.html" with user=can_send_user %}
    </div>

    <h2><div class="variation">Cannot Send</div><code>_invite_form.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invite_form.html" %}
    </div>

    <h2><div class="variation">With Invitations</div><code>_invited.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invited.html" with invited_list=invites %}
    </div>

    <h2><div class="variation">No Invitations</div><code>_invited.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invited.html" %}
    </div>

    <h2><div class="variation">Remaining Invites</div><code>_invites_remaining.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invites_remaining.html" with invites_remaining=total_invites_remaining %}
    </div>

    <h2><div class="variation">No Remaining Invites</div><code>_invites_remaining.html</code></h2>
    <div class="invitation-fragement-container">
        {% include "pinax/invitations/_invites_remaining.html" %}
    </div>
</section>
{% endblock %}
