{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
{% endblock %}

{% block head_title %}{% if current_config %}{{ current_config.title }}{% endif %}{% endblock %}
{% block body_class_base %}theme-tester {% if current_view %}show-menu{% endif %} {% if current_config %}config-{{ current_config.label }}{% endif %} {% block body_class %}{% endblock %}{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block content_left %}
    {% include "_menu.html" %}
{% endblock %}

{% block account_bar %}
<ul class="navbar-nav navbar-dark">
    <li class="navbar-text">
        {{ view.config.template }}
    </li>
    {% if view.config %}
        <li class="nav-item"><a class="nav-link" href="{{ view.config.resolved_path }}">Render</a></li>
        <li class="nav-item"></li><a class="nav-link" href="{{ view.config.resolved_path }}?source=True">Source</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
