{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="main-bar">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">General</a>
            <div class="dropdown-menu">
                <a href="#">404 Error Page</a>
                <a href="#">500 Error Page</a>
                <a href="#">Account Bar</a>
                <a href="#">Messages</a>
                <a href="#">Pagination</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Apps</a>
            <div class="dropdown-menu">
                <a href="#">Django User Accounts</a>
                <a href="#">Pinax Announcements</a>
                <a href="#">Pinax Blog</a>
                <a href="#">Pinax Cohorts</a>
                <a href="#">Pinax Documents</a>
                <a href="#">Pinax Invitations</a>
                <a href="#">Pinax Likes</a>
                <a href="#">Pinax Messagas</a>
                <a href="#">Pinax Stripe</a>
            </div>
        </li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
